# never publish game files, keys, or build outputs
# (exception: mission/tutorial_0001.bin is 100% our authoring, ships as example)
*.apk
*.idsig
*.ap_
*.dex
*.dll
*.bin
!mission/tutorial_0001.bin
!mission/missions/*.bin
*.keystore
*.jks
AcierData/
apk_dec/
apk_out/
work/
managed/
bin/
obj/
boot.log
*.mp4
*.mkv
*.webm
